@use "../data" as *;

.main {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 110px 114px;
  .h1 {
    margin-bottom: 24px;
  }
  .sub-title {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    font-family: $ff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: $black;
    z-index: 12;
  }
  .btn {
    position: relative;
    margin: 0 auto;
    padding: 19px 40px;
    font-size: 22px;
    border-radius: 18px;
    z-index: 12;
  }
  .main-image {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1136px;
    height: 400px;
    margin-top: -34px;
    z-index: 5;
    .image-01 {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 8;
    }
    .blur-terracotta,
    .blur-blue,
    .blur-green {
      position: absolute;
      display: block;
      object-fit: contain;
      z-index: 2;
    }
    .blur-terracotta {
      top: -180px;
      left: -140px;
      width: 474px;
      height: 474px;
    }
    .blur-blue {
      bottom: -60px;
      left: -170px;
      width: 374px;
      height: 374px;
    }
    .blur-green {
      bottom: -80px;
      right: -160px;
      width: 424px;
      height: 474px;
    }
  }
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
