@use "../data" as *;

.turns {
  position: relative;
  display: block;
  width: 100%;
  margin-top: -60px;
  .h2 {
    margin-bottom: 40px;
  }
  .turns-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    width: 100%;
    margin-bottom: 40px;
    .turns-item {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      min-height: 280px;
      padding: 44px 32px;
      background-color: #f2f2f2;
      border-radius: 40px;
      overflow: hidden;
      .turns-item-label {
        display: block;
        width: 100%;
        margin-bottom: 6px;
        font-family: $ff;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;
        color: $black;
      }
      .turns-item-descr {
        display: block;
        width: 100%;
        font-family: $ff;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        color: $black;
      }
      .turns-link {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 100%;
        max-width: 390px;
        padding: 24px 40px;
        font-family: $ff;
        font-weight: 500;
        font-size: 22px;
        color: $white;
        background-color: $terracotta;
        border-radius: 30px;
        outline: 10px solid $white;
        z-index: 8;
        &:before,
        &:after {
          content: "";
          position: absolute;
          display: block;
          width: 24px;
          aspect-ratio: 1;
          background: radial-gradient(circle 24px at top left, #2478ff 98%, #fff);
        }
        &:before {
          top: 74px;
          bottom: 0;
          left: -34px;
          width: 34px;
        }
        &:after {
          top: -34px;
          right: -10px;
          width: 34px;
        }
        span {
          display: block;
          width: 100%;
          max-width: calc(100% - 65px);
        }
        .turns-link-icon {
          display: block;
          width: 48px;
          height: 48px;
        }
      }
      &.turns-item-01,
      &.turns-item-02,
      &.turns-item-03 {
        align-content: flex-end;
        align-items: flex-end;
        max-width: calc(33% - 8px);
        min-height: 378px;
      }
      &.turns-item-04 {
        align-content: flex-start;
        align-items: flex-start;
        max-width: calc(43% - 8px);
        min-height: 352px;
        padding-top: 30px;
      }
      &.turns-item-05 {
        align-content: flex-start;
        align-items: flex-start;
        max-width: calc(57% - 8px);
        min-height: 352px;
        padding-top: 30px;
        background-color: #2478ff;
      }
      &.turns-item-01 {
        .turns-item-image {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          max-width: 363px;
          height: inherit;
          object-fit: contain;
        }
      }
      &.turns-item-02 {
        .turns-item-image {
          position: absolute;
          top: 16px;
          left: 50%;
          display: block;
          width: 100%;
          max-width: 328px;
          height: inherit;
          object-fit: contain;
          transform: translateX(-50%);
        }
      }
      &.turns-item-03 {
        .turns-item-image {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: 100%;
          max-width: 367px;
          height: inherit;
          object-fit: contain;
        }
      }
      &.turns-item-04 {
        .turns-item-image {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          max-width: 322px;
          height: inherit;
          object-fit: contain;
        }
      }
      &.turns-item-05 {
        &:before {
          content: "";
          position: absolute;
          right: -1px;
          bottom: -1px;
          width: 398px;
          height: 98px;
          background-color: $white;
          border-top-left-radius: 30px;
          z-index: 1;
        }
        .turns-item-image {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          max-width: 272px;
          height: inherit;
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
