html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none; /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

ul {
  list-style: none;
}

/*
  Colors
*/
body {
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #222222;
}

#app {
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
  overflow-x: hidden;
}

.container {
  display: block;
  width: 100%;
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 10px;
}
@media (max-width: 767px) {
  .container {
    max-width: 600px;
  }
}

.black {
  color: #202020;
}

.blue {
  color: #2478ff;
}

.green {
  color: #2eb99c;
}

.terracotta {
  color: #ff7043;
}

.grayDark {
  color: #5c5c5c;
}

.gray {
  color: #eaeaea;
}

.scroll-line-none::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scroll-line-none::-webkit-scrollbar-button {
  background-color: #666;
}

.scroll-line-none::-webkit-scrollbar-track {
  background-color: #999;
}

.scroll-line-none::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

.scroll-line-none::-webkit-scrollbar-thumb {
  height: 0px;
  background-color: #666;
  border-radius: 3px;
}

.scroll-line-none::-webkit-scrollbar-corner {
  background-color: #999;
}

.scroll-line-none::-webkit-resizer {
  background-color: #666;
}

.with-animation.main .blur-terracotta {
  transform: scale(0.01);
  transition: all 0.8s ease;
}
.with-animation.main .blur-terracotta.with-animation-active {
  transform: scale(1);
}
.with-animation.main .blur-blue {
  transform: scale(0.01);
  transition: all 0.8s ease;
}
.with-animation.main .blur-blue.with-animation-active {
  transform: scale(1);
}
.with-animation.main .blur-green {
  transform: scale(0.01);
  transition: all 0.8s ease;
}
.with-animation.main .blur-green.with-animation-active {
  transform: scale(1);
}

.header {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 90;
}
.header .line-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 14px;
  background-color: #ffffff;
  box-shadow: 0 0 34px rgba(44, 44, 50, 0.15);
  transition: all 0.4s ease;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
.header .line-wrap .header-logotype {
  display: block;
  width: 186px;
  height: 40px;
}
.header .line-wrap .header-logotype img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header .line-wrap .header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 19px;
  width: 100%;
  max-width: calc(100% - 460px);
}
.header .line-wrap .header-menu .menu-item {
  display: block;
  width: 100%;
  max-width: max-content;
}
.header .line-wrap .header-menu .menu-item a {
  display: block;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #202020;
}
.header .line-wrap .header-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: max-content;
}
.header .line-wrap .header-buttons .header-burger {
  position: relative;
  display: none;
  width: 28px;
  height: 20px;
  margin-left: 18px;
}
.header .line-wrap .header-buttons .header-burger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #202020;
  border-radius: 6px;
}
.header .line-wrap .header-buttons .header-burger span:before, .header .line-wrap .header-buttons .header-burger span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #202020;
  border-radius: 6px;
  transition: all 0.4s ease;
}
.header .line-wrap .header-buttons .header-burger span:before {
  top: -8px;
}
.header .line-wrap .header-buttons .header-burger span:after {
  top: 8px;
}
.header .line-wrap .header-mobile {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 0;
  margin-left: 0;
  z-index: 20;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  transition: all 0.05s ease-in-out;
}
.header .line-wrap .header-mobile .header-mobile-menu {
  display: block;
  width: 100%;
  max-width: calc(100% - 180px);
}
.header .line-wrap .header-mobile .header-mobile-menu .menu-item {
  display: block;
  width: 100%;
}
.header .line-wrap .header-mobile .header-mobile-menu .menu-item a {
  display: block;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #202020;
}
.header .line-wrap .header-mobile .header-mobile-menu .menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.header .line-wrap .header-mobile .header-mobile-buttons {
  display: block;
  width: 100%;
  max-width: 160px;
}
.header .line-wrap .header-mobile .header-mobile-buttons .btn {
  max-width: 100%;
}
.header .line-wrap .header-mobile .header-mobile-buttons .btn:not(:last-child) {
  margin-bottom: 8px;
}
.header.active .header-mobile {
  height: inherit;
  margin-top: 32px;
  padding: 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
.header.active .line-wrap .header-buttons .header-burger span {
  height: 0;
}
.header.active .line-wrap .header-buttons .header-burger span:before {
  top: 0;
  transform: rotate(45deg);
}
.header.active .line-wrap .header-buttons .header-burger span:after {
  top: 0;
  transform: rotate(-45deg);
}

@media (max-width: 1199px) {
  .header .line-wrap .header-menu {
    display: none;
  }
  .header .line-wrap .header-buttons .header-burger {
    display: block;
  }
}
@media (max-width: 767px) {
  .header .container {
    padding-inline: 0;
  }
  .header .line-wrap .header-buttons .btn {
    display: none;
  }
}
@media (max-width: 576px) {
  .header .line-wrap {
    padding-top: 6px;
  }
  .header .line-wrap .header-mobile .header-mobile-menu {
    max-width: 100%;
    margin-bottom: 32px;
    text-align: center;
  }
  .header .line-wrap .header-mobile .header-mobile-buttons {
    max-width: 100%;
  }
  .header .line-wrap .header-mobile .header-mobile-buttons .btn {
    padding-block: 12px;
    font-size: 18px;
  }
  .header.active .header-mobile {
    padding-inline: 0;
  }
}
.h1 {
  position: relative;
  display: block;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 1.2;
  text-align: center;
  color: #202020;
}

.btn {
  display: block;
  width: 100%;
  max-width: max-content;
  padding: 2px 26px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  border-radius: 12px;
  cursor: pointer;
}
.btn.btn-gray {
  min-width: 112px;
  color: #5c5c5c;
  background-color: #eaeaea;
}
.btn.btn-black {
  color: #ffffff;
  background-color: #202020;
}
.btn.btn-terracotta {
  color: #ffffff;
  background-color: #ff7043;
}

.main {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 110px 114px;
}
.main .h1 {
  margin-bottom: 24px;
}
.main .sub-title {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #202020;
  z-index: 12;
}
.main .btn {
  position: relative;
  margin: 0 auto;
  padding: 19px 40px;
  font-size: 22px;
  border-radius: 18px;
  z-index: 12;
}
.main .main-image {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1136px;
  height: 400px;
  margin-top: -34px;
  z-index: 5;
}
.main .main-image .image-01 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 8;
}
.main .main-image .blur-terracotta,
.main .main-image .blur-blue,
.main .main-image .blur-green {
  position: absolute;
  display: block;
  object-fit: contain;
  z-index: 2;
}
.main .main-image .blur-terracotta {
  top: -180px;
  left: -140px;
  width: 474px;
  height: 474px;
}
.main .main-image .blur-blue {
  bottom: -60px;
  left: -170px;
  width: 374px;
  height: 374px;
}
.main .main-image .blur-green {
  bottom: -80px;
  right: -160px;
  width: 424px;
  height: 474px;
}/*# sourceMappingURL=app.css.map */